@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

/* font-family: 'Oswald

body{
    margin: 0px;
    font-family: ;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}