@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

/* font-family: 'Climate Crisis', cursive; */

body{
    margin: 0px;
    font-family: font-family: 'Climate Crisis', cursive;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header{
    width: 100%;

}